<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<% form_for(@answer, url: answers_create_path) do |f| %>
  <%= f.select :lang, {
    "Ruby" => "rb",
    "Python" => "py" } %>
  <%= f.text_area :code %>
<% end %>

<form>

  UseingLang：
  <select id="lang">
    <option value="rb">Ruby</option>
    <option value="py">Python</option>
  </select>

  <textarea id="code" name="code" cols="30" rows="10"></textarea>
  <input id="answerSend" type="submit" value="Judge">

</form>

